@charset "UTF-8";
*{box-sizing:border-box;}


#main_header{width:100%;background:#0044af;}
#main_gnb_wrap{height:40px;}
#main_gnb{width:1200px;margin:0 auto;background:_green;}
#main_gnb{content:"";clear:both;display:block;}
#gnb{padding-top: 5px;float: right;font-size:12px;}
#gnb
#gnb>ul:after{content:"";clear: both;display:block;}

#gnb>ul>li{float:left;}
#gnb>ul>li>a{display:block;padding:0 10px;
height:20px;line-height:20px;color:#fff;}
#gnb>ul>li>a:hover{color:#000;}

#gnb_two{padding-top:0px; float:left;}
#gnb_two>ul:after{content:"";clear:both;display:block;}
#gnb_two>ul>li{float:left;padding:-1px 20px;
	border-left:2px solid #0044af;}
#gnb_two>ul>li:first-child{border-left:none;}
#gnb_two>ul>li>a{float:left;display:block;background:#00163b;
	width:120px;line-height:40px;text-align:center;color:#fff;
	}
#gnb_two>ul>li>a:hover{background-color:#fff;color:#000;}


#main_logo_wrap{width:100%;}
#logo_wrap{width:1200px;background:_;margin:0 auto;position: relative;}
#logo_wrap{content:"";clear:both;display:block;}

#logo_wrap h2{width:170px;background:_red;
	position: absolute;left:70px;padding-top:20px;line-height:50px;
border-bottom:1px solid #ccc;text-align:left;}
#logo_wrap p{width:180px;background:_blue;
	position: absolute;left:70px;bottom:-92px;line-height:20px;}

.logo{float:left;background:green;position: absolute;bottom:-86px;}




#main_lnb_wrap{width:100%;background:_red;float:left;}
#main_lnb{width:1200px;margin:0 auto;}
#main_lnb{content:"";clear:both;display:block;}


#lnb{float:right;}
#lnb>ul>li{float:left;display:block;padding:10px;height:100px;
	line-height:40px;background:_blue;text-align:left;padding-top:50px;
}
#lnb>ul>li>a{background:_red;padding:3px;padding-left:20px;}
#lnb>ul>li>a:hover{color:#000;font-weight:bold;}
.icon_mini{float:right;}
/* #lnb>ul:after{content:"";clear: both;display:block;}
 */

#main_bg{width:100%;}
#main_back_bg{background:_red;}


